<div class="banner-wrapper banner">
    <img src="/assets/images/banner.png" class="img-fluid" />
    <div class="side_float gift_1 wow fadeInUp" data-wow-delay="0.5s"></div>
    <div class="side_float gift_2 wow fadeInUp" data-wow-delay="0.6s"></div>
    <div class="side_float gift_3 wow fadeInLeft" data-wow-delay="0.7s"></div>
    <div class="side_float z_1 wow fadeIn" data-wow-delay="0.6s"></div>
    <div class="side_float z_2 wow fadeInDown" data-wow-delay="0.6s"></div>
    <div class="side_float z_3 wow zoomIn" data-wow-delay="0.5s"></div>
    <div class="side_float z_4 wow zoomIn" data-wow-delay="0.5s"></div>
    <div class="side_float z_5 wow slideInDown" data-wow-delay="0.5s">
        <!--程式說明 ※上程式後刪除-->
        <!--alert-//assets/ 為登入前 跳出會員登入畫面-->
        <!--scroll-//assets/ 為登入後 錨點至下方登錄發票-->
        <a href="javascript:void(0);" class="login scroll-login">登錄發票</a>

    </div>
</div>
<!--注意事項demo-->
<div class="modal"  id="attention" data-backdrop="static">
    <div class="modal-dialog cottonfeild modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="/assets/images/close.png" />
                </button>
            </div>
            <div class="modal-body">
                <h3 class="model_title">注意事項</h3>
                <p><strong>第一重活動：</strong></p>
                <p>1. 參加抽獎活動之不同張發票恕不累積發票金額。</p>
                <p>2. 現金抵用券、商品兌換券序號使用期限至2020/2/15，逾期恕無法兌換，每券限使用乙次。</p>
                <p>3. 加價購商品序號使用期限至2020/2/15，逾期恕無法使用，每券限使用乙次。</p>
                <p>4. 本券須於下一筆消費使用，恕不兌換現金或找零，也不列入會員消費累積。</p>
                <p>5. 本券不限門市使用，僅限於棉花田實體門市使用。</p>
                <p>6. 本券一經使用不得退換貨或要求補發，抵用券/兌換券/加價購商品序號，數量有限，送完為止。</p>
                <p>7. 基於個人資料保護法保護個資原則，棉花田生機園地決不外洩參與活動者之個人資料。惟活動者於參加本活動前了解並同意主辦單位於本活動之範圍內，得蒐集、處理及利用本人之個人資料(包括但不限於姓名、e-mail、手機、會員卡號等)。</p>
                <p>8. 活動辦法若有未盡事宜，棉花田保有隨時解釋、變更活動辦法與獎品內容，以及暫停、延長、提前終止本活動之權利。並公告於本公司活動網站，將不另行通知。</p>
                <br>
                <p><strong>第二重活動：</strong></p>
                <p>1. 凡活動期間單筆消費折扣後每滿588元以上，並於活動網站登錄有效購買發票及個人資料<strong>(請保留發票實體正本及購買明細)</strong>，即可參加抽獎，有機會抽中飛利浦時尚家電、棉花田禮券。獎品不得更換，亦不可更換其他商品或兌換現金。</p>
                <p>2. 將於2020/2/5抽獎，並公告於棉花田官方FB。</p>
                <p>3. 機會中獎活動，依所得稅法之規定，須列入個人年度所得，得獎人須依中華民國稅法規定辦理扣繳事宜。未滿20歲之得獎者應由其法定代理人代為領獎。</p>
                <p>4. 得獎人須依規定填寫並繳交相關發票正本、身分證影本；若中獎者不願意提供相關資料，視同放棄中獎資格。</p>
                <p>5. 活動參加者需保證所有填寫或提出之資料均為真實且正確，並未冒用或盜用他人資料，如有不實或不正確資訊，本公司將取消其中獎資格，並就其損害本公司或任何第三人權益，保留一切民、刑事訴追之責。</p>
                <p>6. 商品圖片僅供參考，請以實際商品為主。本公司保有活動修改之權利。</p>
                <p>&nbsp;</p>
                <p>與我們聯繫：</p>
                <p>客服信箱：sun@oneness.tw。</p>
                <p>客服專線：0800-559-588。</p>
                <p>服務時間：週一 ~ 週五 08:30 ~ 17:30</p>

                <div class="modal-header"></div>
            </div>
        </div>
    </div>
</div>
<!--登錄demo-->
<div class="modal"  id="mobel_demo" data-backdrop="static">
    <div class="modal-dialog cottonfeild login " >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="/assets/images/close.png" />
                </button>
            </div>
            <div class="modal-body">
                <h3 class="model_title">歡迎來到棉花田</h3>
                <form id="loginform" method="post">
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline custom-alert">
                            <input type="radio" value="1" name="classd" checked id="phone_checked" class="custom-control-input"  data-placeholder="請輸入您的手機號碼(10碼)" />
                            <label class="custom-control-label" for="phone_checked">手機號碼</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline custom-alert">
                            <input type="radio" value="2" name="classd" id="phone_checked2" class="custom-control-input" data-placeholder="請輸入您的市話號碼(9-10碼 含區碼)" />
                            <label class="custom-control-label" for="phone_checked2">市話</label>
                        </div>
                    </div>
                    <div class="form-group" id="phone">
                        <input type="text" name="phone" class="form-control form-control-lg phone" placeholder="請輸入您的手機號碼(10碼)" />
                    </div>
                    <div class="form-group" id="cardno">
                        <input type="text" name="cardno" class="form-control form-control-lg" placeholder="請輸入您的出生日期（民國年月日）" />
                        <small id="Small1" class="form-text text-info">(範例：50年5月1日 請輸入500501)</small>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <a href="javascript:void(0);" id="login" class="btn btn-block btn-lg btn-alert">登入</a>
                            </div>
                            <div class="col">
                                <a href="javascript:void(0);" id="login_frist" class="btn btn-block btn-lg btn-alert">首次登入</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col" style="color: red">
                            登入時請使用相同電話號碼及出生日期登入
                            </div>
                        </div>
                    </div>

                </form>
                <div class="modal-header"></div>
            </div>
        </div>
    </div>
</div>
<!--首次登錄demo-->
<div class="modal"  id="mobel_demo1"  data-backdrop="static">
    <div class="modal-dialog cottonfeild login " >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="removebg()">
                    <img src="/assets/images/close.png" />
                </button>
            </div>
            <div class="modal-body">
                <div class="tab_list active" id="form1">
                    <h3 class="model_title">首次登入</h3>
                    <form id="loginform1" method="post">
                        <!--<div class="form-group" id="classd1">-->
                        <!--&lt;!&ndash;<i class="b-icon phone"><img src="/assets/images/phone.png" /></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" name="phone" class="form-control form-control-lg" placeholder="請輸入手機號碼" />&ndash;&gt;-->
                        <!--<div class="btn-block btn-lg"><input type="radio" value="1" name="classd1" checked>手機號碼<input type="radio" value="2" name="classd1">市話</div>-->

                        <!--</div>-->

                        <div class="form-group" id="classd1">
                            <div class="custom-control custom-radio custom-control-inline custom-alert">
                                <input type="radio" value="1" name="classd1" checked id="phone_checked3" class="custom-control-input"  data-placeholder="請輸入您的手機號碼(10碼)" />
                                <label class="custom-control-label" for="phone_checked3">手機號碼</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline custom-alert">
                                <input type="radio" value="2" name="classd1" id="phone_checked4" class="custom-control-input" data-placeholder="請輸入您的市話號碼(9-10碼 含區碼)" />
                                <label class="custom-control-label" for="phone_checked4">市話</label>
                            </div>
                        </div>
                        <div class="form-group" id="phone1">

                            <input type="text" name="phone1" class="form-control form-control-lg phone" placeholder="請輸入您的手機號碼(10碼)" />
                        </div>
                        <div class="form-group" id="cardno1">

                            <input type="text" name="cardno1" class="form-control form-control-lg" placeholder="請輸入您的出生日期（民國年月日）" />
                        </div>
                        <div class="form-group" id="recardno1">

                            <input type="text" name="recardno1" class="form-control form-control-lg" placeholder="請再次輸入您的出生日期" />
                            <small id="Small2" class="form-text text-info">(範例：50年5月1日 請輸入500501)</small>

                        </div>

                        <input type="hidden" name="type" value="1">
                        <div class="form-group">
                            <a href="javascript:void(0);"  id="next" class="btn btn-block btn-lg btn-alert">下一步</a>
                        </div>
                    </form>
                </div>
                <div class="modal-header"></div>
                <div class="tab_list" data-index="3">
                    <h3 class="model_title text-center">設定成功</h3>
                    <div data-href="index.html" class="text-center mt-5 jump">
                        畫面於3秒後導轉至活動頁
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>