<div class="box">
  <div class="box-header">
    <h3 class="box-title">{$weizhi.title}</h3>

    <div class="box-right">
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body" >
    <form method="post" action="invoiceQuery">
      <div class="col-sm-6" style="width: 100%">
          <div class="col-md-5 col-sm-4" style="line-height: 30px;margin-top: 15px;">
              <!-- <div class="form-group">
                <span style="width: 30%;display: block;float: left;">會員篩選：</span>
                <input type="text" name="cardno" class="input-sm pjaxchangge" style="width: 50%;" value="{$param.cardno|default=''}" placeholder="會員名稱">
              </div> -->
              <div class="form-group">
                注意！：點擊<a href="javascript:void(0);" onclick="isdel2('您確定要全部刪除嗎？','{:url($_c.'/errorivodel')}',this);"> 《全部刪除》</a>會徹底刪除這些數據，同時初始化與此相關的優惠券
                
              </div>
          </div>
          
      </div>
      
    </form>

    <div id="Contentspjax" >
      {include file="info/errorinvoiceajax" /}
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- <script>
    $(function(){
        $('.select2').select2({
            language:'zh-CN'
        });

        $(".pjaxchangge").change(function(){
            var selectstr = '?';
            $(".pjaxchangge").each(function(){
                var name = $(this).attr('name');
                var value = $(this).val();

                selectstr = selectstr+name+"="+value+"&";
            })

            console.log(selectstr)
            $.pjax({
                url: "{:url($_c.'/'.$_a)}"+selectstr,
                container: '#Contentspjax'
            });
        });

        $(document).pjax('.pagination li a', '#Contentspjax', { timeout:3000,replace:true,scrollTo:false});
        $(document).on('pjax:start', function() { NProgress.start(); });
        $(document).on('pjax:end',   function() { NProgress.done();  });
    })
</script> -->